body{
    background: linear-gradient(to right, rgb(107, 200, 232) , rgb(210, 238, 248));
}
#header{
    /* border: 1px solid black; */
    height: auto;
    width: 80vw;
    margin: auto;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 18px;
    background: linear-gradient(rgb(231, 94, 128) ,rgb(250, 184, 195));
}

label{
    display: block;
    margin-left: 21%;
    margin-top: 1%;
/*     word-spacing: 0.4rem; */
/*     letter-spacing: 3px; */
}
#count-to{
    margin-top: 2%;
    margin-left: 18%;
    width: 20%;
}

#start-btn{
    margin-top: 2%;
    margin-left: 5%;
    width: 100px;
    height: 21px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    border-top-right-radius: 12px ;
    border-bottom-right-radius: 12px ;
    cursor: pointer;
    border: none;
}


#counter{
    border: 1px solid black;
    height: auto;
    width: 40vw;
    margin: auto;
    margin-top: 20px;
    padding-left: 40%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
}